<div ng-include="global.navUrl"></div>

<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">View gallery</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>{{singleGallery.name}}</h2>
    <p><i>Created by <strong>{{singleGallery.user.name}}</strong> {{singleGallery.created_at}}</i></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="/file-upload"
    class="dropzone"
    dropzone="dropzoneConfig"
    id="my-awesome-dropzone"></form>
  </div>
</div>
