<div ng-include="global.navUrl"></div>

<div class="row">
    <div class="col-sm-12">
        <h1>Add a new Gallery</h1>

        <!-- <div ng-app="app" ng-controller="galleryController">
            <form class="dropzone" dropzone="dropzoneConfig">
                <input type="hidden" value="{{csrfToken}}" name="_token">
            </form>
        </div>  -->

        <div ng-show="errorDiv">
            <div class="alert alert-danger">
                <ul>
                    <li ng-repeat="message in errorMessages">{{message}}</li>
                </ul>
            </div>
        </div>

        <form name="addGallery" ng-submit="saveNewGallery(addGallery)" novalidate>
            <div class="form-group" ng-class="{'has-error' : addGallery.galleryName.$invalid && !addGallery.galleryName.$pristine && formSubmitted}">
                <input type="text" name="galleryName" 
                class="form-control" placeholder="Enter gallery name"
                ng-model="newGallery.name" required ng-minlength="3">
                <p ng-show="addGallery.galleryName.$invalid && !addGallery.galleryName.$pristine" 
                class="help-block">Name is required</p>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
