<div class="row">
    <div class="col-sm-5 col-sm-push-3 well">
        <h1>Login</h1>
        <form name="loginForm" ng-submit="doLogin(loginForm)">

            <div class="form-group">
                <input type="email" name="email" ng-model="login.username" 
                required placeholder="Enter your email address" class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" ng-model="login.password" 
                required placeholder="Enter your password" class="form-control">
            </div>

            <input type="submit" name="save" value="Login" class="btn btn-success">
        </form>
    </div>
</div>
